#content_text td{
	border: 1px solid black;
}
#content_text img{
	float: right;
	margin-left: 15px;
}
.double {
	margin: 0px 10px 10px 0px;
}
#solo_pic {
	text-align: center;
}
#solo_pic img {
	float: none;
	clear: both;
	margin: 0px;	
}
td.empty {
	border: none;
}