
#explore_bottom_img * {
	float: right;
	margin: 20px 0px 20px 0px;
}
.explore_double_l {
	float: left;
	padding: 0px 2% 0px 2%;
	margin: 0px;
	border: 0px;
	width: 50%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 46%;
}
html>body .explore_double_l{
	width: 46%; /* ie5win fudge ends */
}
.explore_double_r {
	float: left;
	padding: 0px 2% 0px 2%;
	margin: 0px;
	border: 0px;
	width: 50%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 46%;
}
html>body .explore_double_r{
	width: 46%; /* ie5win fudge ends */
}
.explore_double_l p, .explore_double_r p{
	text-align:justify;
}
.founder {
	font-size: 10pt;
	margin: 0px;
	width: 550px;
	background: #F8F8F8;
	border: 1px solid #999999;
}
.founder_title {
	padding: 20px 0px 0px 20px;
	font-size: 12pt;
	color: #666666;
}
.founder_name {
	padding: 5px 0px 10px 20px;
	font-size: 14pt;
}
.founder_description {
	font-size: 9pt;
	color: #666666;
}
.founder_name_underline {
	padding: 0px 40px 5px 0px;
	border-bottom: 1px solid #000000;
}
.founder_body {
	padding: 0px 30px 15px 40px;
}
.floatRight {
	float: right;
	margin-left: 15px;
}
.floatLeft {
	float: left;
	margin-right: 15px;
}