

/***What's New Box******************/
#whats_new_box_top {
	background: url(../images/home_right_menu_top.jpg) top center no-repeat #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 34px;
}
#whats_new_box {
	margin:0px; 
	padding:0px;
	background: url(../images/home_right_menu_bg.jpg) top center repeat-y #FFFFFF;
}
#whats_new_box_bot {
	background: url(../images/home_right_menu_btm.jpg) top center no-repeat #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 6px;
}

/******** Blog Titles **********/
#whats_new_box ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 16px;
	list-style-type:none;
	
}

#whats_new_box a {
	margin-left: 0px;
	margin-right:0px;
	color: #825282;
	font-weight: bolder;
}

#whats_new_box li {
	text-align: left;
	margin-left: 16px;
	margin-right:12px;
	font-weight: 300;
	font-size:15px;
	color:#666666;
}

#whats_new_box_inside {
	width: 160px;
	padding-top: 0px;
/**	padding-left: 19px;  **/
	padding-right: 0px;
}



#whats_new_box_inside p.more {
padding: 12px;
margin: 0px;
/**margin-left: 16px; **/
font-size: 12px;
}


#whats_new_box_inside a:link {text-decoration: none; color:#666666;}  
#whats_new_box_inside a:visited {text-decoration: none; color:#666666; }
#whats_new_box_inside a:hover {text-decoration:none; color:#000000;}
#whats_new_box_inside a:active {text-decoration: none; color:#666666;}


/****************************************************/
/****************************************************/
#rss_feed	{
	
	float: right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 1.0px;
	padding: 0px;
	
}

#rss_feed a {
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align:right;
}

#rss_feed img	{
	width: 16px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align:right;

}

#rss_feed a:link {text-decoration: none; }  
#rss_feed a:visited {text-decoration: none; }
#rss_feed a:hover {text-decoration: none; }
#rss_feed a:active {text-decoration: none; }


div#tick {
  z-index: 0;
  margin-top: 0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding: 0;
  width: 136px;
  height: 78px;
}

#video_image_box {
	margin:2px 0px 0px 0px;;
	padding:0px 6px 0px 0px;
	text-align: right;

}

#video_image_box img {
	margin:0px 0px 0px 5px;;
	padding: 0px 0px 0px 2px;
	text-align: center;
}

div#text_under_video_image_box {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
		
}


div#text_under_video_image_box a:link {text-decoration: none; color:#666666;}  
div#text_under_video_image_box a:visited {text-decoration: none; color:#666666; }
div#text_under_video_image_box a:hover {text-decoration: none; color:#000000;}
div#text_under_video_image_box a:active {text-decoration: none; color:#666666;}

/************************************************************************************/


#home_bottom_box a:link {text-decoration: none; color:#666666;}  
#home_bottom_box a:visited {text-decoration: none; color:#666666; }
#home_bottom_box a:hover {text-decoration: none; color:#000000;}
#home_bottom_box a:active {text-decoration: none; color:#666666;}

