#slideShow {
	padding: 0px;
	text-align: center;
}
A.dates {

	font-family: "arial, helvetic, sans-serif";
	color: #661111;
	font-weight: 800;
	font-size: 12pt;
	text-decoration: none;
	margin-left: 10px;
}
A.dates:visited {
	font-family: "arial, helvetic, sans-serif";
	color: #661111;
	font-weight: 800;
	font-size: 12pt;
	text-decoration: none;
}
A.dates:hover {
	font-family: "arial, helvetic, sans-serif";
	color: #6688CC;
	font-weight: 800;
	font-size: 12pt;
	text-decoration: none;
}
A.dates:active {
	font-family: "arial, helvetic, sans-serif";
	color: #002200;
	font-weight: 800;
	font-size: 12pt;
	text-decoration: none;
}
.navbar {
	font-family: "arial, helvetic, sans-serif";
	color: #002200;
	font-weight: 800;
	font-size: 10pt;
	margin-right: 20px;
}
#picID {
	z-index: 2;
	width: 800;
	height: 480;
	display: none;
	position: relative;
	/*background:url(../images/pics_bg.png);*/
	background-color: #FFFFFF;
}
#thumbWrapper {
	z-index: 1;
	display: block;
	position: relative;
}
.pic {
	border: 1px solid black;
}

.picsbut {
	border-left: none;
}
.picstd1 {
	border-left: none;
}

.picstd2 {
	border-left: none;
}
.navbar {
	text-align:center;
}
#content_header {
	margin-bottom: 20px;
}